<div class="container border">
	<h1 class="text-center">Our special offers</h1>
	

<div class="card-deck">
	
		<ng-container *ngFor="let travel of travelArray">
			<div class="col-sm-6 col-md-4 col-lg-4 my-3 {{travel.type}}" >
			<div class="card h-100">
				<img src="{{travel.image}}" class="card-img-top">
				<div class='card-header'>
			  		<h3>{{travel.destination}}</h3>
			  	</div>
				<div class="card-body">
					<p class="card-text">{{travel.description}}</p>
					<p class="card-text">Price: <span class="font-weight-bold">{{travel.price}}€</span> (exluding taxes)</p>
				</div>
				<div class="card-footer">
					{{travel.type}}
				</div>
			</div>
			</div>
		</ng-container>
	
</div>
</div>




<!--  <ng-container *ngFor="let travel of travelArray">
       <tr class="table-dark">
           <td>{{travel.destination}}</td>
           <td>{{travel.type}}</td>
           <td>{{travel.description}}</td>
           <td>{{travel.price}}</td>
           <td><a href="{{travel.image}}">Link</a></td>

           <td>
               <button class="btn btn-info" (click)="travelService.populateForm(travel)">Edit</button>
               <button class="btn btn-danger" (click)="onDelete(travel.$key)">Delete</button>
           </td>
       </tr>
   </ng-container> -->

