<div class="container-fluid mt-1">
	<div class="row">
		<div class="col-5 offset-md-1">
			<h5 class="display-4">Who we are</h5>
			<p>abc</p>
		</div>
		<div class="col-6">
			<img src="https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618__340.jpg">
		</div>
	</div>
</div>

<div class="container-fluid my-4">
	<div class="row">
		<div class="col-5">
			<img src="https://cdn.pixabay.com/photo/2016/11/29/12/12/architecture-1869398__340.jpg">
		</div>
		<div class="col-6">
			<h5 class="display-4">What we offer</h5>
		</div>
	</div>
</div>
